/* write your override styles here */
#wall .tag-1 {
  display: none
}

div#wall #tag-2 {
  display: none
}

div#wall div#tag-3.slick {
  display: none
}

#wall .parent #tag-4 {
  display: none
}

div#wall .parent .slick #tag-5 {
  display: none
}
